{% extends 'base.html' %} {% block content %}
<div class="card" style="width: auto; margin: 20px;">
  <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <h5 class="card-title text-center">Upload Resume</h5>
      <p class="card-text" style="width:100%">
        <input type="file" name="resume" id="resume" accept=".pdf,.docx" />
      </p>
      <input
        type="submit"
        href="#"
        class="btn btn-primary"
        style="background-color: #bd5d38; width:100%"
        value="Parse My Resume!"
      />
      {% if is_file_empty %}
      <label for="resume" class=" m-3 text-danger">File was empty!</label>
      {% endif %} {% if is_bad_file %}
      <label for="resume" class=" m-3 text-danger">Bad file!</label>
      {% endif %}
    </div>
  </form>
</div>
<div class="container">
  {% if is_post %}
  <section
    class="resume-section p-3 p-lg-12 d-flex align-items-center"
    id="about"
  >
    <div class="w-100">
      <h1 class="mb-0">
        {{ name }}
      </h1>
      <div class="subheading mb-5">
        <span class="text-success"> Contact: </span>{{ phone }} ·
        <a href="mailto:{{ email }}">{{ email }}</a>
      </div>
      <h3 class="mb-0">
        Skills:
      </h3>

      {% for skill in skills %}
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">{{ skill }}</li>
      </ul>
      {% endfor %}
    </div>
  </section>
  <div class="lead text-success">Time Taken: {{ time }}sec.</div>
  {% endif %}
</div>
{% endblock %}
